<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>
      <li class="{{(currentHref == '/admin') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin']" class="ai-icon {{(currentHref == '/admin') ? 'mm-active' : ''}}"
           aria-expanded="false">
          <i class="flaticon-047-home"></i>
          <span class="nav-text">Accueil</span>
        </a>
      </li>
      <li class="{{(currentHref == '/admin/orders')? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/orders']" class="ai-icon {{(currentHref == '/admin/orders') ? 'mm-active' : ''}}"
           aria-expanded="false">
          <i class="pi pi-shopping-cart"></i>
          <span class="nav-text">Orders</span>
        </a>
      </li>
      <li class="{{(currentHref == '/admin/users') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/users']"
           class="ai-icon {{(currentHref == '/admin/users') ? 'mm-active' : ''}}" aria-expanded="false">
          <i class="pi pi-user-plus"></i>
          <span class="nav-text">Users</span>
        </a>
      </li>
      <li class="{{(currentHref == '/admin/recognition') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/recognition']"
           class="ai-icon {{(currentHref == '/admin/recognition') ? 'mm-active' : ''}}" aria-expanded="false">
          <i class="pi pi-share-alt"></i>
          <span class="nav-text">Recognition</span>
        </a>
      </li>
      <li class="{{(currentHref == '/admin/Editproducts') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/Editproducts']"  class="ai-icon {{(currentHref == '/admin/Editproducts') ? 'mm-active' : ''}}" aria-expanded="false">
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Products</span>
        </a>
      </li>
    </ul>


    <div class="copyright">
      <p><strong>Buy&Go Admin Dashboard</strong> © 2022 All Rights Reserved</p>
      <p class="fs-12">Made with <span [ngClass]="{'': toggleIcon, 'heart-blast': !toggleIcon}" class="heart"
                                       (click)="toggleLoveIcon()"></span> by B2M</p>
    </div>
  </div>
</div>
